<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__template">
      TL
      <ng-content select="left"></ng-content>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu__item" *ngFor="let menu of menuService.menuItems">
        <ngx-devjagz-menu-item
          [menu]="menu"
          (menuItemClicked)="emitClickedMenuItem($event)"
          (onIndicatorWidth)="setIndicatorWidth($event)"
        ></ngx-devjagz-menu-item>
      </li>
      <div class="navbar__menu__indicator"></div>
    </ul>
    <div class="navbar__container__template">
      TR
      <ng-content select="right"></ng-content>
    </div>
  </div>
</nav>
