<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__template">
      TL
      <ng-content select="left"></ng-content>
    </div>
    <ul class="navbar__menu">
      <li class="navbar__menu__item">
        <a class="active">
          <span class="navbar__menu__item__icon">&#x40;</span>
          <span class="navbar__menu__item__text">Home</span>
        </a>
      </li>
      <li class="navbar__menu__item">
        <a>
          <span class="navbar__menu__item__icon"> &#xa9; </span>
          <span class="navbar__menu__item__text">Settings</span>
        </a>
      </li>
      <li class="navbar__menu__item">
        <a>
          <span class="navbar__menu__item__icon"> &#x2107; </span>
          <span class="navbar__menu__item__text">Profile</span>
        </a>
      </li>
      <li class="navbar__menu__item">
        <a>
          <span class="navbar__menu__item__icon"> &#xa7; </span>
          <span class="navbar__menu__item__text">Documentation</span>
        </a>
      </li>
      <li class="navbar__menu__item">
        <a>
          <span class="navbar__menu__item__icon">&#x212B;</span>
          <span class="navbar__menu__item__text">About</span>
        </a>
      </li>
    </ul>
    <div class="navbar__container__template">
      TR
      <ng-content select="right"></ng-content>
    </div>
  </div>
</nav>
