<nav class="navbar">
  <div class="navbar__container">
    <div class="navbar__container__template">
      <ng-content select="left"></ng-content>
    </div>
    <div class="navbar__container__menu">
      <ul class="navbar__menu">
        <li class="navbar__menu__item">
          <a>
            <span class="navbar__menu__item__icon"></span>
            <span class="navbar__menu__item__text">Home</span>
          </a>
        </li>
        <li class="navbar__menu__item">
          <a>
            <span class="navbar__menu__item__icon"></span>
            <span class="navbar__menu__item__text">Settings</span>
          </a>
        </li>
        <li class="navbar__menu__item">
          <a>
            <span class="navbar__menu__item__icon"></span>
            <span class="navbar__menu__item__text">Profile</span>
          </a>
        </li>
        <li class="navbar__menu__item">
          <a>
            <span class="navbar__menu__item__icon"></span>
            <span class="navbar__menu__item__text">Documentation</span>
          </a>
        </li>
        <li class="navbar__menu__item">
          <a>
            <span class="navbar__menu__item__icon"></span>
            <span class="navbar__menu__item__text">About</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="navbar__container__template">
      <ng-content select="right"></ng-content>
    </div>
  </div>
</nav>
