*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.navbar {
  padding: 2rem;
  border: 1px solid white;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    position: relative;

    &__item {
      display: grid;
      place-items: center;
      position: relative;

      a {
        text-decoration: none;
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-items: center;
        justify-content: center;
        gap: 0.5rem;
        position: relative;

        &.active {

          .navbar__menu__item__text {
            padding: 0.25rem 1rem;

            &::before {
              content: '';
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: black;
              border-radius: 999px;
              z-index: -1;
            }
          }
        }
      }

      &__icon {
        display: grid;
        place-items: center;
        position: relative;
      }

      &__text {
        position: relative;
        display: grid;
        place-items: center;
        text-align: center;
        font-size: 0.7rem;
        text-transform: uppercase;
        padding: 0;
        z-index: 1;
        letter-spacing: 0.1rem;
        transition: 0.5s;
      }

    }

  }
}